from settings_global import *

SECRET_KEY = ''

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'radius',
        'USER': 'radius',
        'PASSWORD': 'radpass',
        'HOST': '',
        'PORT': '',
    }
}

PUBLIC_ROOT = os.path.join('/var/www/', PROJECT_NAME)

MEDIA_ROOT = os.path.join(PUBLIC_ROOT, 'media')
STATIC_ROOT = os.path.join(PUBLIC_ROOT, 'static')
